<%= bootstrap_form_for @notification do |f| %>
  
  <% if @notification.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@notification.errors.count, "error") %> prohibited
    this notification from being created:</h2>
  
    <ul>
    <% @notification.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :headline %>
  </p>
 
  <p>
    <%= f.text_area :content, :size => "50x6", help: "(140 character max)"%>
  </p>

  <p>
    <%= f.check_box :live, label: "Publish?" %>
  </p>

  <p>
    <%= f.submit "Update", class: "btn btn-default btn-block"%>
  </p>
<% end %>  