<%= bootstrap_form_for @video do |f| %>
  
  <% if @video.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@video.errors.count, "error") %> prohibited
    this video from being created:</h2>
  
    <ul>
    <% @video.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.text_area :description, :size => "50x6" %>
  </p>

  <p>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.text_area :code, label: "Code", help: "(paste code examples)", placeholder: "Enter Code Examples", :size => "50x6" %>
  </p>

  <p>
    <%= f.check_box :featured, label: "Feature Video", value: false %>
  </p>

  <p>
    <%= f.text_field :category_list, label: "Categories", help: "(seperate by commas)", placeholder: "Add Categories" %>
  </p>

  <p>
    <%= f.text_field :tag_list, label: "Tags", help: "(seperate by commas)", placeholder: "Add Tags" %>
  </p>

  <p>
    <%= f.submit "Update", class: "btn btn-default btn-block"%>
  </p>
<% end %>  