<html>
  <head>
  	<title><%= @video.title %></title>
  </head>
  <body>
      <div class="container">
      <br>
        <div class="row">
	  
        <!-- Edit Form -->
	    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="panel panel-default">
	          <div class="panel-heading"><h4><i class="fa fa-edit fa-1x"> Edit Video</h4></i></div>
	          <div class="panel-body"> 
		      	<%= render 'update_form' %>
		      </div>
	      </div>
    	</div>
	    
	    <!-- Sidebar -->
	      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 well well-lg">
		    <!--<% if @video.thumbnail %>
			    <div class="panel panel-default">
				    <div class="panel-heading"><h5><i class="fa fa-image fa-1x"> Featured Image</i></h5></div>
				    <div class="panel-body text-center">
				    	<%= image_tag @video.thumbnail, size: "100%" %>
				    </div>
			    </div>
			<% end %>-->
				<%= link_to "Delete", video_path, data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger btn-block" %></p>
				<a class="btn btn-warning btn-block" role="button" href="<%= video_path %>" onclick="alert("Are you sure?");">Cancel</a>
	      </div>
        </div>
      </div>
  </body>
</html>